/* @theme delight */

@import 'default';

:root {
  font-family: "Hiragino Kaku Gothic ProN", sans-serif;
}

section {
  background-image: 
    url(./imgs/delight-logo.png); /* <- ロゴのURL */
  background-position: 
    right 50px top 50px; /* <- ロゴの位置（右上、オフセットあり） */
  background-size:
    80px auto; /* <- ロゴのサイズ */
  background-repeat: no-repeat /* 共通 */;
}

h1 {
  /* color: rebeccapurple; */
}

h2 {
}

img {
  display: block;
  margin:auto;
}